body {
  background: white;
  color: black;
  text-align: left;
	font-family: "Varela Round", sans-serif;
	font-style: normal;
}

h1,h2{
  text-transform: uppercase;
	column-count: 1;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

h1 {
	font-size: 8em;
}

h2 {
	font-size: 45px;
}

.h_stretch {
	word-spacing: 100px;
}

.h_stretch2 {
	word-spacing: 760px;

}

.h_big {
	font-size: 120px;
}

.h_bold {
	font-size: 120px;
}

.p1 {
	column-count: 4;
	font-size: 45px;
	column-count: 4;
	font-weight: bolder;
}
.p2 {
	column-count: 4;
	font-size: 9px;
	font-weight: 100;
}

.p3 {
	column-count: 4;
	font-size: 45px;
	font-weight: bold;
}

.p4 {
	column-count: 2;
	font-size: 9px;
}

.p5 {
	font-size: 9px;
	text-align: left;
	justify-content:left;
	display: left;
}

