body {
  font-family: "Varela Round", sans-serif;
  background: black;
}


h1,h2{
	margin: -25px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
	color: orange;
	display: flex;
	justify-content: center;
	font-weight: bolder;
	font-size: 300px;
}


p {
	color: orange;

}


.ganzertext{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}



 p,h2, .small{
  font-size: 24px;
  line-height: 1.15em;
	justify-content: center;
	column-count: 2;
	column-width: 15px;
	column-rule: 50px;
	align-items: flex-start;
}

h2,.medium{
  font-size: 200px;
  line-height: 0.95em;
  letter-spacing: 1em;
	justify-content: space-around;
	display: flex;

}

.p,.large{
	font-size: 100px;
	line-height: 2em;
	letter-spacing: -0.25rem;
}

h1,.extralarge{
	font-size: 200px;
	line-height: 0.8em;
	letter-spacing: -1vw;
	justify-content: center;
}

.extraextralarge{
	font-size: 30vw;
	line-height: 0.75em;
}

.intro{
  display: flex;
}

/* 
h2,h1,.one_col{
	column-count 1;
}

.two_col{
	column-count: 2;
	column-gap: 0.3em;
	margin: 0px;
}

.four_col{
	column-count: 4;
	column-gap: 0.7em;
}




@media (min-width: 1840px){
  p{
    font-size: 0.85em;
  }
}

@media (max-width: 740px) {
  p{
    font-size: 10px;
  }
  h2{
    font-size: 10px;
  }
  .h2p{
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  content{
    display: block;
  }
  .haupttext{
    column-count: 1;
  }
} */